*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: 0;
	outline: none;
	color: white;
	background-color: #37ab00;
	border-radius: 6px;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	transition: 0.2s ease-in-out all;
}
button:hover {
	transform: scale(1.05);
}
button:active {
	transform: scale(0.9);
}
input {
	width: 80%;
	margin-block: 0.3rem;
	border-radius: 5px;
	border: 2px solid grey;
	outline: none;
	height: 2rem;
	padding: 0 0.5rem;

}