nav {
	/* background-color: #222831; */
	background-color: var(--cv-blue);
	color: #ffffff;

	display: flex;
	justify-content: space-between;
	align-items: center;
	
	height: 64px;
	padding: 0 4rem;
}

.rightNav {
	display: flex;
	gap: 0.8rem;
}

.saveAsPdf{
	padding: 8px 20px;
	background-color: var(--green);
}
.reset {
	padding: 8px 20px;
	background-color: var(--bright-red);
}

