main {
	background-color: white;
	min-height: 100vh;

	display: flex;
	flex-wrap: wrap;
}

.previewSection, .inputSection {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputSection {
	min-width: 320px;
	background-color: rgb(225, 225, 225);
	flex-grow: 0.8;
	padding: 1rem 1rem;
}

.previewSection {
	flex-grow: 1.2;
	 
	padding: 2rem 1rem;
}