main {
	background-color: white;

	display: flex;
	flex-wrap: wrap;
}

.previewSection, .inputSection {
	display: flex;
	align-items: flex-start;
}

.inputSection {
	min-width: 320px;
	/* background-color: rgb(225, 225, 225); */
	padding: 2rem 1rem;
	/* flex-basis: 600px; */
	justify-content: flex-end;
	flex: 1;
}

.previewSection {
	justify-content: flex-start;
	position: relative;
	padding: 2rem 1rem;
	flex: 1;
}